{% extends "base.html" %}
{% block content %}

<div class="inner cover">
  <h1 class="cover-heading" style = "padding-top:100px;">How It Works.</h1>
  <p class="lead">
    What's going on here? What's the secret sauce? <a href='http://www.cortical.io/technology_semantic.html'>WE'LL NEVER TELL.</a>
  </p>
  <iframe width='700' height='600' src="http://www.cortical.io/static/downloads/semantic-folding-theory-white-paper.pdf"></iframe>
  <div style = "padding-bottom:100px;"></div>
</div>

{% endblock %}