{% extends "base.html" %}
{% block content %}

<div class="inner cover" style="padding-top:20px;">
  <h1 class="cover-heading">Talk To Us.</h1>
  <p class="lead">
    We're a couple of data science goons currently studying at the NYC Data Science Academy.</p>
    <hr>
    <p>
    <br><br>John Montroy is a graduate of Middlebury College with a B.A. in Physics. After a summer of particle physics at CERN with the Harvard ATLAS team, he began his career as a data analyst in the auto industry. He has been programming since the age of 12, and delights in clean, re-usable, and functionally-oriented code. In his spare time, he can be found playing piano or mandolin, singing barbershop, and running. <br><br>
    
      <a href='http://johnmontroy.com/'>http://johnmontroy.com</a>  
      <br>github: <a href='http://blog.nycdatascience.com/author/jmontroy90/'>http://blog.nycdatascience.com/author/jmontroy90/</a>
    
    <br><br>
    Avi Yashchin is the Founder and CEO of CleanEdison, which was acquired by Kaplan Inc (NYSE:GHC) in 2014. Data Scientist at NYC Data Science Academy. Instructor at General Assembly in the Business Fundamentals and Tactics course, and a mentor at Founder Institute, Tech Stars, and SJF Ventures. He has bachelor degree of Computer Science from Johns Hopkins and MBA from NYU. <br><br><a href='http://www.aviyashchin.com'>http://www.aviyashchin.com</a>.  <br>Github: <a href='http://github.com/aviyashchin'>http://github.com/aviyashchin</a>
    </p>
  </p>
</div>

{% endblock %}