{% extends "base.html" %}
{% block content %}

  <div class="inner cover" style = "margin-top: 50%;position:relative;top:-230px;"> <!-- stupid position hack -->
    <h1 class="cover-heading">Welcome to M3.</h1>
    <p class="lead">M3 empowers you to find the perfect investor for your startup. <br><br>
    	You give us your startup's site or a brief description - we generate a sophisticated "fingerprint" of your startup, and compare that fingerprint to potential investors.</p>
    <p class="lead">
      <a href=" {{ url_for('input') }}" class="btn btn-lg btn-default">
        Get Started
      </a>
    </p>
  </div>
  
{% endblock %}